 <!--Dashboard Filter -->
<!-- Filter Content -->
<!--<div class="row filter" data-ng-style="oeeDashboardObj.filter.style">
    <div data-ng-style="oeeDashboardObj.filterContent.style">
        <div class="col s4 m3 l3">
            <px-dropdown display-value="Select" checkbox-mode="true" value="{{oeeDashboardObj.selectedCountries}}"><px-dropdown-content data-ng-click="applyFilter()" checkbox-mode='true' extend-dropdown='true' extend-dropdown-by='25' max-cont-character-width='10' items='{{oeeDashboardObj.countriesList}}'></px-dropdown-content></px-dropdown>
        </div>
        <div class="col s4 m3 l3">
             <px-dropdown display-value="Select" checkbox-mode="true"><px-dropdown-content checkbox-mode='true' extend-dropdown='true' extend-dropdown-by='25' max-cont-character-width='10' items='[{"key":"1","val":"iPhone"},{"key":"2","val":"Android"},{"key":"3","val":"Blackberry"},{"key":"4","val":"Windows Phone"},{"key":"5","val":"Flip Phone","disabled":true}]'></px-dropdown-content></px-dropdown>
        </div>
        <div class="col s4 m3 l3">
             <px-dropdown display-value="Select" checkbox-mode="true"><px-dropdown-content checkbox-mode='true' extend-dropdown='true' extend-dropdown-by='25' max-cont-character-width='10' items='[{"key":"1","val":"iPhone"},{"key":"2","val":"Android"},{"key":"3","val":"Blackberry"},{"key":"4","val":"Windows Phone"},{"key":"5","val":"Flip Phone","disabled":true}]'></px-dropdown-content></px-dropdown>
        </div>
        <div class="col s4 m3 l3">
            <button class="btn btn--primary" type="button" ng-disabled="oeeDashboardObj.disableResetFilterBtn">Apply</button>
            <button class="btn btn--default" type="button" ng-disabled="oeeDashboardObj.disableResetFilterBtn">Reset</button>
        </div>
    </div>
</div>-->
<!-- / Filter Content -->
<!-- Filter Icon -->
<!--<div class="row filter-icon" data-ng-style="oeeDashboardObj.filterIcon.style">
        <a href="javascript:void(0)" data-ng-click="toogleFilter()">
            <i data-ng-if="!oeeDashboardObj.filter.show" class="fa fa-filter" aria-hidden="true"></i>
            <i data-ng-if="oeeDashboardObj.filter.show" class="fa fa-times-circle" aria-hidden="true"></i>
            &nbsp;            
            <span data-ng-bind="oeeDashboardObj.filter.show ? 'Close' : 'Filters'"></span>
        </a>
</div>-->
<!-- / Filter Icon -->
<!-- / Dashboard Filter -->


<div class="row">
     <!-- <table class="highlight" id="valueStreamTable">
        <thead>
            <tr>
                <th rowspan="2">Value Streams</th>
                <th colspan="4">Overall Equipment Effectiveness</th>
                <th colspan="3">Throughput</th>
                <th rowspan="2">Open in New Tab</th>
            </tr>
            <tr>
                <th data-field="name">Availablilty</th>
                <th data-field="price">Performance</th>
                <th data-field="price">Quality Rate</th>
                <th data-field="price">OEE</th>
                <th data-field="price">Target</th>
                <th data-field="price">Actual</th>
                <th data-field="price">Delinquency</th>
            </tr>
        </thead>

        <tbody>
          <tr>
            <td data-ng-click="toggleTableRow()">Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>Eclair</td>
          </tr>
          
          <tr data-ng-class="">
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>Eclair</td>
          </tr>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>Eclair</td>
          </tr>
        </tbody>
      </table> -->
</div>