<!-- Dashboard Filter -->
<div class="row filter" data-ng-style="oeeDashboardObj.filter.style">
    <div class="filter-icon">
        <a href="javascript:void(0)" data-ng-click="toogleFilter()">
            <i data-ng-if="!oeeDashboardObj.filter.show" class="fa fa-filter" aria-hidden="true"></i>
            <i data-ng-if="oeeDashboardObj.filter.show" class="fa fa-times-circle" aria-hidden="true"></i>            
            <span data-ng-bind="oeeDashboardObj.filter.show ? 'Close' : 'Filters'"></span>
        </a>
    </div>
    <!-- Filter Content -->
    <div class="row" data-ng-if="oeeDashboardObj.filter.showContent" style="margin-top: 20px;">
        <div class="col s3 m3 l3">
            <px-dropdown display-value="Select" checkbox-mode="true"><px-dropdown-content checkbox-mode='true' extend-dropdown='true' extend-dropdown-by='25' max-cont-character-width='10' items='[{"key":"1","val":"iPhone"},{"key":"2","val":"Android"},{"key":"3","val":"Blackberry"},{"key":"4","val":"Windows Phone"},{"key":"5","val":"Flip Phone","disabled":true}]'></px-dropdown-content></px-dropdown>
        </div>
        <div class="col s3 m3 l3">
        </div>
        <div class="col s3 m3 l3">
           <button class="btn btn--primary" type="button">Apply</button>
        </div>
        <div class="col s3 m3 l3">
            <button class="btn btn--default" type="button">Reset</button>
        </div>
    </div>
    <!-- / Filter Content -->
</div>
<!-- / Dashboard Filter -->



<!-- Dashboard Content -->
<div class="row" style="margin-bottom:0px; ">

    <!-- Info Card -->
    <div class="card col s5 m3 l3 graph-info-card " data-ng-if="oeeDashboardObj.infoCard.show">
        <span class="grey-text text-darken-4">
            <i class="fa fa-times-circle right" aria-hidden="true" style="cursor: pointer;" data-ng-click="closeInfoCard()"></i>
        </span>
        <p>This map is used to identify OEE Constraints at a glance at the shop level.</p>
       <div class="card-content">
            <p>Card Content</p>
        </div>
    </div>
    <!-- / Info Card -->

    <!-- Google Maps -->
    <div class="col s12 m12 l12" id="googleMap" data-ng-style="oeeDashboardObj.googleMaps.style"></div>
    <!-- / Google Maps -->
</div>
<!-- / Dashboard Content -->

