 <!--Dashboard Filter -->
<!-- Filter Content -->
<div class="row filter" style="height:85px;">
    <div>
        <div class="col s6 m6 l6 view-sort">
            <strong>Sort By<strong><br/>
            <input type="radio" name="sortby" value="Constraints"> Constraints
            <br/>
            <input type="radio" name="sortby" value="Alphabetically"> Alphabetically
        </div>
         <div class="col s6 m6 l6 view-options">
            <strong>View Options</strong><br/>
            <input class="view-options" type="checkbox" name="sortby" value="ConstraintsOnly"> Constraints Only
            <br/>
            <input class="view-options" type="checkbox" name="sortby" value="showThroughput"> Show Throughput
        </div>
    </div>
</div>
<!-- / Filter Content -->
<!-- Filter Icon -->
<div class="row filter-icon" >
        <a href="javascript:void(0)" data-ng-click="toogleFilter()">
            <i class="fa fa-filter" aria-hidden="true"></i>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            &nbsp;            
            <span data-ng-bind="oeeDashboardObj.filter.show ? 'Close' : 'Filters'"></span>
        </a>
</div>
<!-- / Filter Icon -->
<!-- / Dashboard Filter -->


<div class="row">
     <table class="highlight" id="valueStreamTable">
        <thead>
            <tr>
                <th rowspan="2">Value Streams</th>
                <th colspan="4">Overall Equipment Effectiveness</th>
                <th colspan="3">Throughput</th>
                <th rowspan="2">Open in New Tab</th>
            </tr>
            <tr>
                <th data-field="name">Availablilty</th>
                <th data-field="price">Performance</th>
                <th data-field="price">Quality Rate</th>
                <th data-field="price">OEE</th>
                <th data-field="price">Target</th>
                <th data-field="price">Actual</th>
                <th data-field="price">Delinquency</th>
            </tr>
        </thead>

        <tbody>
          <tr>
            <td data-ng-click="toggleTableRow()">Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>Eclair</td>
          </tr>
          
          <tr data-ng-class="">
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>Eclair</td>
          </tr>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>Eclair</td>
          </tr>
        </tbody>
      </table>
</div>