<script src="js/materialize.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<!-- Filter Content -->
<div class="row vs-filter" data-ng-style="oeeSummary.filter.style">
    <div class="col s12 m12 l12">
    <div class="col l2">
    </div>
        <div class="col s12 m4 l3">
            <select class="right vs-filter-sort-by" data-ng-model="oeeSummary.filter.selectedSiteCode" data-ng-change="update()" data-ng-options="item for item in oeeSummary.filter.SiteCodeOptions" style="border: 1px solid;background-color:lightgrey;border-radius: 5px">
                <option style="display:none;background-color: white" value="">Site Code</option>
            </select>
        </div>
        <div class="col s12 m4 l3" style="margin-left: -10%">
            <select class="right vs-filter-sort-by" data-ng-model="oeeSummary.filter.selectedMachineGroup" data-ng-change="update()" data-ng-options="item for item in oeeSummary.filter.MachineGroupOptions" style="border: 1px solid;background-color:lightgrey;border-radius: 5px">
                <option style="display:none;background-color: white" value="">Machine Group</option>
            </select>
        </div>
        <div class="col s12 m3 l2" id="Btn" style="margin-left:1%;margin-top: 0.7%">
            <button id="Applybtn" class="btn btn--primary" type="button" data-ng-disabled="oeeDashboardObj.disableResetFilterBtn" data-ng-click="applyFilter();" style="width:150px;height:35px">Apply</button>
        </div>
       <div class="col l2">
    </div>
    </div>
</div>
<!-- Filter Icon -->
<div class="row vs-filter-icon" data-ng-style="oeeSummary.filterIcon.style">
    <a href="javascript:void(0)" data-ng-click="toogleFilter()">
        <i class="fa fa-filter" data-ng-hide="oeeSummary.filter.show" aria-hidden="true"></i>
        <i class="fa fa-times-circle" data-ng-show="oeeSummary.filter.show" aria-hidden="true"></i> &nbsp;
        <span data-ng-bind="oeeDashboardObj.filter.show ? 'Close' : 'Filters'"></span>
    </a>
</div>

<!--- OEE Summary Table -->
<div class="row oee-summary-table">
    <div class="col s12 m12 l12">   
        <table class="summary-table"> 
            <thead>
                <tr>
                    <th></th>
                    <th>Availability</th>
                    <th>Performance</th>
                    <th>Quality Rate</th>
                    <th>OEE</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="rowData in oeeSummaryTable">
                    <td><span>{{rowData.week}}</span></td>
                    <td>
                        <span data-ng-class="rowData.availabilty >= 75 ? 'health-good' : (rowData.availabilty >= 50 && rowData.availabilty < 75 ? 'health-normal' : 'health-poor')">
                        {{rowData.availabilty}}%
                        </span>
                    </td>
                    <td>
                        <span data-ng-class="rowData.performance >= 75 ? 'health-good' : (rowData.performance >= 50 && rowData.performance < 75 ? 'health-normal' : 'health-poor')">
                            {{rowData.performance}}%
                        </span>
                    </td>
                    <td>
                        <span data-ng-class="rowData.qualityrate >= 75 ? 'health-good' : (rowData.qualityrate >= 50 && rowData.qualityrate < 75 ? 'health-normal' : 'health-poor')">
                            {{rowData.qualityrate}}%
                        </span>
                    </td>
                    <td>
                        <span data-ng-class="rowData.oeePercentage >= 75 ? 'health-good' : (rowData.oeePercentage >= 50 && rowData.oeePercentage < 75 ? 'health-normal' : 'health-poor')">
                        {{rowData.oeePercentage}}%
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!-- Collapsible Cards -->
 <div class="row">
     <div class="col s12 m12 l12">
         <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active">OEE by Fiscal Week</div>
                <div class="collapsible-body" ><div id="container"></div></div>
            </li>
            <li>
                <div class="collapsible-header">Availability by Fiscal Week</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header">Performance by Fiscal Week</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header">Quality Rate by Fiscal Week</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header">Machine Downtime</div>
                <div class="collapsible-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Fiscal Week</th>
                                <th>Asset Number</th>
                                <th>Down Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="rowData in dataforpage.machineDownTimeList">
                                <td>{{rowData.fiscalWeek}}</td>
                                <td>{{rowData.assetNum}}</td>
                                <td>{{rowData.downTime}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
     </div>
 </div>



<!-- Back and Next Button -->
<a ui-sref="valueStreams" class="back-btn btn--primary">
    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    <span>OEE All Value Stream</span>
</a>
<!--<a ui-sref="oeeSummary" class="next-btn btn--primary">
    <span>OEE Summary</span>
    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
</a>-->